body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../imagenes/gym2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: #ffd900e0;
    margin-top: 40px;
    text-shadow: 2px 2px 4px #000;
}

a[href="agregar_categoria.php"] {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;

    background: #ffd900e0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 6px;

    font-weight: bold;
    transition: .3s;
}

a[href="agregar_categoria.php"]:hover {
    background: #ceb110a9;
}

table {
    width: 80%;
    max-width: 800px;

    border-collapse: collapse;
    background: rgba(0,0,0,0.7);
    color: rgb(0, 0, 0);

    border-radius: 10px;
    overflow: hidden;
}

table th {
    padding: 12px;
    background: #ffd900e0;
    color: black;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #444;
    text-align: center;
    background-color: white;
}

table tr:hover {
    background: rgba(255, 255, 255, 0.2);
}

table a {
    padding: 8px 12px;
    background: #ffd900e0;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

table a:hover {
    background: #ceb110a9;
}

.btn-atras {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background: #ffd900e0;
    color: #333232;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-atras:hover {
    background: #ceb110a9;
}

