body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../imagenes/gym2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    background: #333232;
    padding: 25px 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffd900e0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #ffd900e0;
    color: #3a3a3a;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ceb110a9;
}

.btn-atras {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background: #ffd900e0;
    color: #3a3a3a;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-atras:hover {
    background: #ceb110a9;
}

