
body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    background-image: url("../imagenes/gym.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;

}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffd900e0;
    margin-top: 5px;
}

form {
    background: #333232;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 6px 25px #000000;
    text-align: center;
}

form input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 15px;
    transition: 0.3s;
}

form input:focus {
    border-color: #007bff;
    background: #fff;
    outline: none;
}

form button {
    width: 95%;
    padding: 12px;
    background: #ffd900e0;
    color: 555353;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #e6c200;
}
